<main class="main">
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="sidebar-info">
                        <!-- Navbar START-->
                        <nav class="navbar navbar-expand-lg mx-0">
                            <div class="offcanvas offcanvas-start">
                                <!-- Offcanvas body -->
                                <div class="offcanvas-body d-block px-2 px-lg-0">
                                    <!-- Card START -->
                                    <div class="card overflow-hidden">
                                        <div class="card-body">                                            
                                            <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/profile"><span>Profile </span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/change-password"> <span>Change Password
                                                        </span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/profile"><span>Settings </span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <section class="page-content">
                        <div class="profile-wrapper">

                            <!-- profile section start -->
                            <div class="tab-content py-0 mb-0">

                                <div class="tab-pane show active fade">
                                  <div class="card mb-4">

                                    <div class="card-header border-0 pb-0">
                                      <h1 class="h5 card-title">Account Settings</h1>
                                    </div>

                                    <div class="card-body">
                                      <!-- Form settings START -->
                                      <form class="row g-3">
                                        <!-- First name -->
                                        <div class="col-sm-6 col-lg-4">
                                          <label class="form-label">First name</label>
                                          <input type="text" class="form-control" placeholder="" value="Sam">
                                        </div>
                                        <!-- Last name -->
                                        <div class="col-sm-6 col-lg-4">
                                          <label class="form-label">Last name</label>
                                          <input type="text" class="form-control" placeholder="" value="Lanson">
                                        </div>
                                        <!-- Additional name -->
                                        <div class="col-sm-6 col-lg-4">
                                          <label class="form-label">Additional name</label>
                                          <input type="text" class="form-control" placeholder="">
                                        </div>
                                        <!-- User name -->
                                        <div class="col-sm-6">
                                          <label class="form-label">User name</label>
                                          <input type="text" class="form-control" placeholder="" value="@samlanson">
                                        </div>
                                        <!-- Birthday -->
                                        <div class="col-lg-6">
                                          <label class="form-label">Birthday </label>
                                          <input type="text" class="form-control flatpickr flatpickr-input" value="12/12/1990" readonly="readonly">
                                        </div>

                                        <div class="col-sm-6">
                                          <label class="form-label">Phone number</label>
                                          <input type="text" class="form-control" placeholder="" value="(678) 324-1251">
                                        </div>

                                        <div class="col-sm-6">
                                          <label class="form-label">Email</label>
                                          <input type="text" class="form-control" placeholder="" value="sam@webestica.com">
                                         </div>

                                        <div class="col-12 text-end">
                                          <button type="submit" class="btn btn-sm btn-primary mb-0">Save changes</button>
                                        </div>
                                      </form>

                                    </div>
                                  </div>
                                  </div>
                                
                              </div>
                            <!-- profile section end -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>