<main class="main">
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="sidebar-info">
                        <nav class="navbar navbar-expand-lg">
                            <div class="offcanvas offcanvas-start">
                                <div class="offcanvas-body d-block">
                                    <!-- Card START -->
                                    <div class="card overflow-hidden">
                                        <div class="card-body">                                            
                                            <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/profile"><span>Profile </span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/change-password"> <span>Change Password
                                                        </span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" routerLink="/profile"><span>Settings </span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <section class="page-content">
                        <div class="profile-wrapper">

                            <!-- profile section start -->
                            <div class="tab-content py-0 mb-0">

                                <div class="tab-pane show active fade">
                                  <div class="card mb-4">

                                    <div class="card-header border-0 pb-0">
                                      <h1 class="h5 card-title">Account Settings</h1>
                                    </div>

                                    <div class="card-body">
                                        <form name="form"  class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
                                        <div class="col-sm-6 col-lg-6">
                                            <label class="form-label">First name</label>
                                            <input type="text" 
                                                name="firstName" 
                                                placeholder="First name" 
                                                class="form-control"
                                                [readonly]="isEdit"
                                                [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }"
                                                formControlName="firstName">
                                                <div *ngIf="submitted && form['firstName'].errors" class="invalid-feedback">
                                                    <div *ngIf="form['firstName'].errors['required']">First name is required</div>
                                                </div>
                                        </div>      
                                        <div class="col-sm-6 col-lg-6">
                                          <label class="form-label">Last name</label>
                                            <input type="text" 
                                                name="lastName" 
                                                placeholder="Last name" 
                                                class="form-control"
                                                [readonly]="isEdit"
                                                [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }"
                                                formControlName="lastName">
                                                <div *ngIf="submitted && form['lastName'].errors" class="invalid-feedback">
                                                    <div *ngIf="form['lastName'].errors['required']">Last name is required</div>
                                                </div>
                                        </div>
                                        <!-- User name -->
                                        <div class="col-sm-6">
                                          <label class="form-label">User name</label>
                                          <input type="email" 
                                                name="email" 
                                                placeholder="Email" 
                                                class="form-control"
                                                [readonly]="true"
                                                formControlName="email">
                                        </div>
                                        <!-- Birthday -->
                                        <div class="col-lg-6">
                                          <label class="form-label">Date of Birth </label>
                                            <input type="date" 
                                                name="dob" 
                                                placeholder="Date of Birth" 
                                                class="form-control"
                                                [readonly]="isEdit"
                                                [ngClass]="{ 'is-invalid': submitted && form['dob'].errors }"
                                                formControlName="dob">
                                                <div *ngIf="submitted && form['dob'].errors" class="invalid-feedback">
                                                    <div *ngIf="form['dob'].errors['required']">Date of birth is required</div>
                                                </div>
                                        </div>

                                        <div class="col-sm-6">
                                          <label class="form-label">Gender</label>
                                          <select name="gender" placeholder="Select Gender" class="form-select"
                                                [ngClass]="{ 'is-invalid': submitted && form['gender'].errors }"
                                                formControlName="gender" >
                                                <option selected>Select Gender</option>
                                                <option value="Male" [selected]="userInfo.gender === 'Male'">Male</option>
                                                <option value="Female" [selected]="userInfo.gender === 'Female'">Female</option>
                                            </select>
                                            <div *ngIf="submitted && form['gender'].errors" class="invalid-feedback">
                                                <div *ngIf="form['gender'].errors?.['required']">Gender is required</div>
                                            </div>
                                        </div>

                                        <div class="col-12 ">
                                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                          <button type="button" 
                                          (click)="onEdit()"
                                          [disabled]="!isEdit"
                                          class="btn btn-sm btn btn-dark me-md-2">Edit</button>
                                          <button type="submit" 
                                          [disabled]="isEdit"
                                          class="btn btn-sm btn-primary">Save changes</button>
                                        </div>
                                      </div>
                                      </form>

                                    </div>
                                  </div>
                                  </div>
                                
                              </div>
                            <!-- profile section end -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>