 
  <!-- Navbar START-->
  <nav class="navbar navbar-expand-lg mx-0"> 
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
      <!-- Offcanvas body -->
      <div class="offcanvas-body d-block px-2 px-lg-0">
        <!-- Card START -->
        <div class="card overflow-hidden">
            <!-- Card body START -->
            <div class="card-body pt-0">
              <div class="text-center">
              <!-- Avatar -->
              <div class="avatar avatar-lg">
                <img class="img-fluid rounded-circle" src="assets/images/profile-pic.jpg" alt="">
              </div>
              <!-- Info -->
              <h5 class="mb-0 text-primary">Sam Lanson </h5>
              <small>sam.lanson@gmail.com</small>
              <p class="mt-3">I'd love to change the world, but they won’t give me the source code.</p>
            </div>

            <!-- Divider -->
            <hr>

            <!-- Side Nav START -->
            <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
              <li class="nav-item">
                <a class="nav-link" routerLink="/" ><span>Feed </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/network"> <span>My Network </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friends"><span>Friends </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/"><span>Groups </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile"><span>Settings </span></a>
              </li>
            </ul>
            <!-- Side Nav END -->
          </div>
          <!-- Card body END -->
          <!-- Card footer -->
          <div class="card-footer text-center py-2">
            <a class="btn btn-link btn-sm" href="/profile">View Profile </a>
          </div>
        </div>       
      </div>
    </div>
  </nav>