<main class="main">
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="sidebar-info">
                        <app-profile-card></app-profile-card>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <section class="page-content">
                        <div class="post-list-wrapper">

                            <!-- add new post -->
                            <div class="card mb-3">
                                <form class="w-100" (ngSubmit)="onSubmit()" [formGroup]="postForm">
                                <div class="card-body">
                                  
                                        <textarea class="form-control pe-4" rows="2" data-autoresize=""
                                            placeholder="Share your thoughts..."
                                            formControlName="post"
                                            ></textarea>
                                    
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Post</button>
                                </div>
                            </form>
                            </div>
                            <!-- add new post end -->


                            <!-- post card -->
                            <div class="card mb-3" *ngFor="let post of allPosts">
                                <!-- Card header START -->
                                <div class="card-header border-0 pb-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <!-- Avatar -->
                                            <div class="avatar avatar-story me-2">
                                                <img class="img-fluid rounded-circle" src="assets/images/user1.jpg"
                                                    alt="">
                                            </div>
                                            <!-- Info -->
                                            <div class="card-body">
                                                <h6 class="card-title">{{post.userName}}</h6>
                                                <p class="text-small text-muted"> {{post.profession}} | 2hr ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <p>{{post.post}}</p>
                                    <!-- Card img -->
                                    <img class="card-img" src="assets/images/post1.jpg" alt="Post">
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack py-3 small">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                    class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked (56)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments
                                                (12)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
                                            </a>
                                        </li>
                                        </ul>
                                           
                                    <!-- Add comment -->
                                    <div class="d-flex mb-3">
                                        <!-- Comment box  -->
                                        <form class="w-100">
                                            <textarea data-autoresize="" class="form-control pe-4 bg-light" rows="1"
                                                placeholder="Add a comment..."></textarea>
                                        </form>
                                    </div>

                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- post card end -->

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>