<main class="main">
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="sidebar-info">
                        <app-profile-card></app-profile-card>
                            
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <section class="page-content">
                        <div class="friends-list-wrapper">

                            <div class="my-3 p-3 bg-body rounded shadow-sm">
                                <h6 class="border-bottom pb-2 mb-0">Friends List</h6>
                                <article class="d-flex text-muted pt-3" *ngFor="let friend of friendsList">
                                    <div class="avatar friends-list me-2">
                                        <img class="img-fluid rounded-circle" src="assets/images/user1.jpg"
                                            alt="">
                                    </div>
                                  <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                    <div class="d-flex justify-content-between">
                                      <strong class="text-gray-dark">{{friend.friendId}}</strong>                                      
                                    </div>
                                    <span class="d-block">{{friend.createdDate | date}}</span>
                                  </div>
                                </article>

                              </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>