<section class="page-wrapper" style="min-height: 550px;">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card m-3" style="width: 450px;">
                <h5 class="card-header text-center">Reset Password</h5>
                <div class="card-body">
                    <form name="form" (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
                        <div class="form-group mb-3">
                            <input type="password" 
                                name="password" 
                                placeholder="New Password" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                                formControlName="password">
                                <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                                    <div *ngIf="form['password'].errors?.['required']">Password is required</div>
                                </div>
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" 
                                name="confirmPassword" 
                                placeholder="Confirm Password" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form['confirmPassword'].errors }"
                                formControlName="confirmPassword">
                                <div *ngIf="submitted && form['confirmPassword'].errors" class="invalid-feedback">
                                    <div *ngIf="form['confirmPassword'].errors?.['required']">Confirm Password is required</div>
                                    <div *ngIf="form['confirmPassword'].errors?.['passwordMismatch']">Password Mismatch</div>
                                </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">                            
                            <button type="submit" class="btn btn-primary mr-1"> 
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Reset
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>