<section class="page-wrapper" style="min-height: 550px;">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card m-3" style="width: 450px;">
                <h5 class="card-header text-center">Forgot Password</h5>
                <div class="card-body">
                    <form name="form" (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
                        <div class="form-group mb-3">
                            <input type="email" 
                                name="email" 
                                placeholder="Username" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"
                                formControlName="email">
                                <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                                    <div *ngIf="form['email'].errors['required']">Username is required</div>
                                </div>
                        </div>
                        <div class="form-group mb-3">
                            <input type="date" 
                                name="dob" 
                                placeholder="DOB" 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && form['dob'].errors }"
                                formControlName="dob">
                                <div *ngIf="submitted && form['dob'].errors" class="invalid-feedback">
                                    <div *ngIf="form['dob'].errors?.['required']">Date of brith is required</div>
                                </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">                            
                            <button type="submit" class="btn btn-primary mr-1"> 
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>